
<br />
<h4 class="text-center">Suivez-nous sur les reseau sociaux</h4>
<br />
<div class="text-center">
	<a href="#"><img src="/themes/lfi/assets/images/icon-facebook.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#"><img src="/themes/lfi/assets/images/icon-linkedin.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#"><img src="/themes/lfi/assets/images/icon-twitter.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#"><img src="/themes/lfi/assets/images/icon-youtube.png" /></a>
</div>
<br />
<br />
<div class="row">
	<div class="footer-menu col-sm-3">
		<ul>
			<li>ACCUEIL</li>
			<li>L'ÉCOLE</li>
			<li>LE TRÉMA LAB</li>
			<li>AGENDA</li>
			<li>ACTUALITÉS</li>
			<li>CARTOGRAPHIE DES MÉTIERS</li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3">
		<ul>
			<li>FORMATIONS
				<ul>
					<li>CERTIFICATIONS</li>
					<li>HABILITATIONS</li>
					<li>PRÉQUALIFICATIONS</li>
					<li>MODULES À LA CARTE</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3">
		<ul>
			<li>NEWSLETTER</li>
			<li>FAQ</li>
			<li>CONTACT</li>
			<li>PLAN DU SITE</li>
			<li><a class="btn btn-info">GOOGLE MAP</a></li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3 lfi-infos">
		<ul>
			<li class="adresse">
				LES FORMATIONS D’ISSOUDUN
				PIAF rue du Bât le Tan 
				36100 ISSOUDUN
			</li>
			<li class="phone">Tel : 02 52 03 16 26</li>
			<li class="fax">Fax : 02 54 21 79 37</li>
		</ul>
	</div>
</div>
<br />
<p class="text-center">Mentions légales - Les formations d’Issoudun © 2016</p>
<br />
