
<br />
<h4 class="text-center">Suivez-nous sur les reseau sociaux</h4>
<br />
<div class="text-center">
	<a href="https://www.facebook.com/lesformationsdissoudun/" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-facebook.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://www.linkedin.com/company/10935080" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-linkedin.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/lfissoudun" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-twitter.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://www.youtube.com/channel/UCmPgNJVcPLYKfNxxFAvtSEA" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-youtube.png" /></a>
</div>
<br />
<br />
<div class="row">
	<div class="footer-menu col-sm-3 color-lien">
		<ul>
			<li><a href="{{ '/' }}">ACCUEIL</a></li>
			<li><a href="/{{ 'presentation' }}">L'ÉCOLE</a></li>
			<li><a href="/{{ '#' }}">LE TRÉMA LAB</a></li>
			<li><a href="/{{ 'blog' }}">AGENDA</a></li>
			<li><a href="/{{ 'blog' }}">ACTUALITÉS</a></li>
			<li><a data-toggle="modal" href="#content-cartographie">CARTOGRAPHIE DES MÉTIERS</a></li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3 color-lien">
		<ul>
			<li><a href="/{{ 'formations' }}">FORMATIONS</a></li>
			<li><a href="/{{ 'formations' }}">CERTIFICATIONS</a></li>
			<li><a href="/{{ 'formations' }}">HABILITATIONS</a></li>
			<li><a href="/{{ 'formations' }}">PRÉQUALIFICATIONS</a></li>
			<li><a href="/{{ 'formations' }}">MODULES À LA CARTE</a></li>

			</li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3 color-lien" >
		<ul>
			<li><a href="/{{ '#' }}">NEWSLETTER</a></li>
			<li><a href="/{{ '#' }}">FAQ</a></li>
			<li><a data-toggle="modal" href="#content-confirmation">CONTACT</a></li>
			<li><a href="/{{ '#' }}">PLAN DU SITE</a></li>
			<li><a class="btn btn-info" href="https://www.google.fr/maps/place/Rue+du+B%C3%A2t+le+Tan,+36100+Issoudun/@46.955164,1.9917669,3a,75y,313.79h,91.72t/data=!3m7!1e1!3m5!1sBSEenS3MVGr9YjhhUXzw3A!3e11!6s%2F%2Fgeo3.ggpht.com%2Fmaps%2Fphotothumb%2Ffd%2Fv1%3Fbpb%3DChAKDnNlYXJjaC5UQUNUSUxFEiAKEgnDrNFFMP36RxF7U7ZikR2LNSoKDQAAAAAVAAAAABoECFYQVg%26gl%3DFR!7i13312!8i6656!4m5!3m4!1s0x47fafd3045d1acc3:0x358b1d9162b6537b!8m2!3d46.955293!4d1.991695!6m1!1e1" target="_blank">GOOGLE MAP</a></li>
		</ul>
	</div>
	<div class="footer-menu col-sm-3 lfi-infos">
		<ul>
			<li class="adresse">
				LES FORMATIONS D’ISSOUDUN
				PIAF rue du Bât le Tan 
				36100 ISSOUDUN
			</li>
			<li class="phone">Tel : 02 54 03 16 26</li>
			<li class="fax">Fax : 02 54 21 79 37</li>
		</ul>
	</div>
</div>
<br />
<p class="text-center">Mentions légales - Les formations d’Issoudun © 2016</p>
<br />
