<!-- Nav -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
			<a class="logo navbar-brand" href="{{ 'accueil'|page }}"><img src="/themes/lfi/assets/images/logo-lfi.png" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav snip1226">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'presentation' %}active{% endif %}"><a href="/{{ 'presentation' }}" data-hover="PRESENTATION">PRESENTATION</a></li>
                <li class="{% if this.page.id == 'formations' %}active{% endif %}"><a href="/{{ 'formations' }}" data-hover="FORMATIONS">FORMATIONS</a></li>
                <li class="{% if this.page.id == 'tremalab' %}active{% endif %}"><a href="/{{ 'tremalab' }}" data-hover="TREMA LAB">TREMA LAB</a></li>
                <li class="{% if this.page.id == 'blog-blog' %}active{% endif %}"><a href="/{{ 'blog' }}" data-hover="ACTUALITÉS">ACTUALITÉS</a></li>
            </ul>
            <ul class="nav right-nav">
                <li class=""><a href="https://www.facebook.com/lesformationsdissoudun/" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-facebook.png" /></a></li>
                <li class=""><a href="https://www.linkedin.com/company/10935080" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-linkedin.png" /></a></li>
                <li class=""><a href="https://twitter.com/lfissoudun" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-twitter.png" /></a></li>
                <li class=""><a href="https://www.youtube.com/channel/UCmPgNJVcPLYKfNxxFAvtSEA" TARGET="_blank"><img src="/themes/lfi/assets/images/icon-youtube.png" /></a></li>
                <!--<li class="hidden-xs hidden-sm {% if this.page.id == 'presentation' %}active{% endif %}"><a href="#"><img src="/themes/lfi/assets/images/icon-recherche.png" /></a></li>
                <li class="hidden-xs hidden-sm {% if this.page.id == 'presentation' %}active{% endif %}"><a href="#"><img src="/themes/lfi/assets/images/icon-equalizer.png" /></a></li>-->
            </ul>
        </div>
    </div>
	<a class="fixed-btn carto hidden-xs hidden-sm"><span>Cartographie<br /> des métiers</span</a>
	<a class="fixed-btn docu hidden-xs hidden-sm"><span>Télécharger<br /> la documentation</span></a>
	<a class="fixed-btn contact hidden-xs hidden-sm" id="contact"><span>Nous contacter</span></a>
</nav>
<header>
    <div class="header-content">
        <div class="header-content-inner">
           
        </div>
    </div>
</header>
