<!-- Nav -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
			<a class="logo navbar-brand" href="{{ 'accueil'|page }}"><img src="/themes/lfi/assets/images/logo-lfi.png" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav snip1226">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'accueil' %}active{% endif %}"><a href="{{ '/'  }}" data-hover="ACCUEIL">ACCUEIL</a></li>
                <li class="{% if this.page.id == 'formations' %}active{% endif %}"><a href="/{{ 'formations' }}" data-hover="FORMATIONS">FORMATIONS</a></li>
                <li class="{% if this.page.id == 'presentation' %}active{% endif %}"><a href="/{{ 'presentation' }}" data-hover="PRÉSENTATION">PRÉSENTATION</a></li>
                <li class="{% if this.page.id == 'blog-blog' %}active{% endif %}"><a href="/{{ 'blog' }}" data-hover="ACTUALITÉS">ACTUALITÉS</a></li>
            </ul>
            <ul class="nav right-nav opacity-color">
                <li class=""><a href="https://www.facebook.com/lesformationsdissoudun/" TARGET="_blank"><img src="/themes/lfi/assets/images/small_icon/icon-facebook.png" /></a></li>
                <li class=""><a href="https://www.linkedin.com/company/10935080" TARGET="_blank"><img src="/themes/lfi/assets/images/small_icon/icon-linkedin.png" /></a></li>
                <li class=""><a href="https://twitter.com/lfissoudun" TARGET="_blank"><img src="/themes/lfi/assets/images/small_icon/icon-twitter.png" /></a></li>
                <li class=""><a href="https://www.youtube.com/channel/UCmPgNJVcPLYKfNxxFAvtSEA" TARGET="_blank"><img src="/themes/lfi/assets/images/small_icon/icon-youtube.png" /></a></li>
                <!--<li class="hidden-xs hidden-sm {% if this.page.id == 'presentation' %}active{% endif %}"><a href="#"><img src="/themes/lfi/assets/images/icon-recherche.png" /></a></li>
                <li class="hidden-xs hidden-sm {% if this.page.id == 'presentation' %}active{% endif %}"><a href="#"><img src="/themes/lfi/assets/images/icon-equalizer.png" /></a></li>-->

            </ul>
        </div>
    </div>
	<a data-toggle="modal" href="#content-cartographie" class="fixed-btn carto hidden-xs hidden-sm"><span>Cartographie<br /> des métiers</span</a>
	<a href="storage/app/media/issoudun_brochure.pdf" target="_blank" class="fixed-btn docu hidden-xs hidden-sm"><span>Télécharger<br /> la documentation</span></a>
	<a data-toggle="modal" href="#content-confirmation" class="fixed-btn contact hidden-xs hidden-sm" id="contact"><span>Nous contacter</span></a>
</nav>
<header>
    <div class="header-content">
        <div class="header-content-inner">
			<div class="item pane-video">
				<video id="bgvid2" height="100%" preload="metadata" muted="" autoplay="" loop="">
				    <source src="/storage/app/media/videos/boucle_lfi/boucle_lfi.mp4" type="video/mp4">
				    <source src="/storage/app/media/videos/boucle_lfi/boucle_lfi.ogv" type="video/ogg">
				    <source src="/storage/app/media/videos/boucle_lfi/boucle_lfi.webm" type="video/webm">
				    Browser non compatible
				</video>
			</div>
            <div class="container-fluid">
                <h1>
			        {% placeholder pagetitle default %}
			    		{{ this.page.title }}
					{% endplaceholder %}
                </h1>
                <div class="scroll-down">
                    <a href="#" class="pointe">DÉCOUVRIR</a>
                    <a class="apointe"><img src="/themes/lfi/assets/images/next_blanc.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="control-popup modal fade" id="content-confirmation" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">LFI FORMULAIRE</h4>
                </div>
                <div class="modal-body">
                    <div id="contactform">
                        <div class="container clearfix">
                            {% component 'contactForm' %}
                            <p class="legal_form">
                                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>
    <div class="control-popup modal fade" id="content-cartographie" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">LFI CARTOGRAPHIE DES MÉTIERS</h4>
                </div>
                <div class="modal-body">

                            <p class="legal_form">
                                LA CARTOGRAPHIE DES MÉTIERS BIENTÔT EN LIGNE
                            </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>
</header>
