[builderList partners]
modelClass = "Lfi\Formations\Models\Partners"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==

{% set records = partners.records %}
{% set displayColumn = partners.displayColumn %}
{% set noRecordsMessage = partners.noRecordsMessage %}
{% set detailsPage = partners.detailsPage %}
{% set detailsKeyColumn = partners.detailsKeyColumn %}
{% set detailsUrlParameter = partners.detailsUrlParameter %}

<h5>Les formations d’issoudun avec le soutien de :</h5>
<div class="row text-center">
    {% for record in records %}
        <div class="col-sm-2 text-center">
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}
						<img src="{{ record.img_partners.path }}">
                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </div>
    {% else %}
        <div class="no-data">{{ noRecordsMessage }}</div>
    {% endfor %}
</div>
