#mapkit-7900 {
    height:350px;
    width:620px;
}

/* texte partner */
footer p.legal-txt {
    margin-top: 4px;
    font-size: 11px;
    text-align: center;
    margin-bottom: 36px;

}


/* Global Button Styles */
#line-space{
    min-height:5px;
}


/* Global Button Styles */

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: inline-block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #e1261c;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: inline-block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #e1261c;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.victoria-two {
    border: 2px solid #e1261c;
}
a.animated-button.victoria-two:after {
    background: #e1261c;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

/* animation bouton*/

.snip1226 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1226 li {
    display: inline-block;
    list-style: outside none none;
    overflow: hidden;
}
.snip1226 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}
.snip1226 a:before,
.snip1226 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1226 a:before {
    bottom: 100%;
    display: block;
    height: px;
    width: 100%;
    content: "";
    background-color: #e1261c;
}
.snip1226 a:after {
    padding: 0.62em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    right:0;
    content: attr(data-hover);
    color: #e1261c;
    white-space: nowrap;

}
.snip1226 li:hover a,
.snip1226 .current a {
    transform: translateY(100%);
}

/* hover butt*/

.opacity-color li img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.opacity-color li:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}

.color-lien ul li a{
    color:#a6a6a6;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration:none;
}

.color-lien ul li a:hover {
    color:#e1261c;

}