description = "Default layout presentation"

[contactForm]
nameTitle = "Full Name"
emailTitle = "Email"
phoneTitle = "Phone"
subjectTitle = "Subject"
functionTitle = "Function"
messageTitle = "Message"
buttonText = "Submit"
displayPhone = 1
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if placeholder('title') %}
        	<title>LFI - {% placeholder title %}</title>
		{% else %}
        	<title>LFI - {{ this.page.title }}</title>
		{% endif %}
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/lfi.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/lfi.style.css',
            'assets/css/header.css',
            'assets/css/style.css',
            'assets/css/footer.css',
            'assets/slick/slick.css',
            'assets/slick/slick-theme.css',
            'assets/css/anim.css',
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="{{ this.page.class }}">

    {% partial "header_simple" %}
        
        {% set Texture = random(['carbon', 'dustnscratches', 'elegant', 'grunge', 'leather', 'lines', 'plaid', 'wood']) %}

        <!-- Content -->
        {% page %}
		
		<footer>
			<div id="contactinfos">
		        <div class="container">
        			{% partial "footer" %}
		       	</div>
	       	</div>
		</footer>


    <!-- Scripts -->

    <script src="{{ [
            'assets/js/jquery.js',
            'assets/js/lfi.script.js',
            'assets/js/app.js',
            'assets/js/slick.min.js',
        ]|theme }}"></script>

    <!-- Scripts SLICK-->

    <script>

        $(document).ready(function(){

            $('.slider').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
                variableWidth: true
            });

        });

    </script>

        {% framework extras %}
        {% scripts %}
    </body>
</html>