title = "SE FORMER AUX METIERS DES MUSIQUES ACTUELLES"
url = "/"
layout = "layout-header-video"
is_hidden = 0
class="home"

[builderList]
modelClass = "Lfi\Formations\Models\Formation"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "formations"
detailsKeyColumn = ":slug"
detailsUrlParameter = ":slug"
pageNumber = "{{ :page }}"

[BlogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/categorie"
postPage = "blog/post"

==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<section id="layout-content" class="container clearfix">
	<div class="row section-title">
		<div class="col-md-2 col-xs-4 ">
			<h2>
				ME
				<br />
				FORMER
			</h2>
		</div>
		<div class="nav-table-formation col-md-10 hidden-sm hidden-xs">
			<div class="nav-row-formation">
				<div class="nav-formation prequalification nav-button">
					<span class="button-heading ">Decouvrir</span><br />
					<span class="button-text">un metier</span>
				</div>
				<div class="nav-formation competence nav-button">
					<span class="button-heading">Developper</span><br />
					<span class="button-text">Mes competences</span>
				</div>
				<div class="nav-formation habilitation nav-button">
					<span class="button-heading">Obtenir</span><br />
					<span class="button-text">une habilitation</span>
				</div>
				<div class="nav-formation certification nav-button">
					<span class="button-heading">Obtenir</span><br />
					<span class="button-text">une certification</span>
				</div>
				<div class="nav-formation acquis nav-button">
					<span class="button-heading">Valider</span><br />
					<span class="button-text">les acquis de mon experience</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 nav-collapse-formation hidden-md hidden-lg">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle text-left" type="button" data-toggle="dropdown">Je souhaite :
				  <span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <li class="prequalification nav-button">
						<span class="button-heading">Decouvrir</span><br />
						<span class="button-text">un metier</span>
					</li>
				    <li class="competence nav-button">
						<span class="button-heading">Developper</span><br />
						<span class="button-text">Mes competences</span>
					</li>
				    <li class="habilitation nav-button">
						<span class="button-heading">Obtenir</span><br />
						<span class="button-text">une habilitation</span>
					</li>
				    <li class="certification nav-button">
						<span class="button-heading">Obtenir</span><br />
						<span class="button-text">une certification</span>
					</li>
				    <li class="acquis nav-button">
						<span class="button-heading">Valider</span><br />
						<span class="button-text">les acquis de mon experience</span>
					</li>
				  </ul>
				</div>
			</div>
	</div>
	
	<div class="list-formations clearfix">
	    {% for record in records %}
	        <div class="col-xs-6 col-sm-4  list-item row-list {{ record.categories[0].formation_category|lower }}">
	            {# Use spaceless tag to remove spaces inside the A tag. #}
	            {% spaceless %}
	                {% if detailsPage %}
	                	<div class="caption">
			                <a class="heading" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
	                			{{ attribute(record, displayColumn) }}
	                    	</a>
	                   	</div>
		                <a class="heading" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
		                    {% for categorie in record.categories %}
		                        <div class="category hidden-sm">{{categorie.formation_category}}</div>
		                    {% endfor %}
	        				<img src="{{ record.imghome.thumb(320,202, {'mode':'crop'}) }}" />
	        				<img class="view-icon" src="/themes/lfi/assets/images/icon-eye-blanc.png" />
                    	</a>
	                {% endif %}
	            {% endspaceless %}
	        </div>
	    {% else %}
	        <div class="no-data">{{ noRecordsMessage }}</div>
	    {% endfor %}
	</div>
	
	<div class="row text-center">
		<a class="btn" href="/formations">Plus de détails</a>
	</div>
	

	{% if records.lastPage > 1 %}
	    <ul class="pagination">
	        {% if records.currentPage > 1 %}
	            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">Prev</a></li>
	        {% endif %}
	
	        {% for page in 1..records.lastPage %}
	            <li class="{{ records.currentPage == page ? 'active' : null }}">
	                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
	            </li>
	        {% endfor %}
	
	        {% if records.lastPage > records.currentPage %}
	            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next</a></li>
	        {% endif %}
	    </ul>
	{% endif %}

</section>

<section id="layout-tremalab">
	<div class="container clearfix">
		<div class="row">
			<div class="col-sm-3 left-title">
				<h2> Le
				<br />
				TrEMA LAB </h2>
				<div>
					<span> travail et musiques actuelle </span>
				</div>
			</div>
			<div class="col-sm-9 description">
				<h3> Un projet pédagogique ambitieux </h3>
				<p>
					L’analyse du travail réel en vue de la formation nous impose de relier les moda-lités de formation aux usages professionnels qui en seront faits :
					la digitalisation des ressources de formation se veut une réponse aux usages et besoins du travail nomade, asynchrone et collaboratif devenu ordinaire
					dans le monde de travail, notamment dans le milieu des musiques actuelles marqué par la prédominance massive des TPE de moins de 5 salariés et du travail en mode projet
				</p>
			</div>
		</div>
	</div>
</section>
<section id="layout-agenda" class="">
	<div class="container clearfix">
		<h2> 
			ACTUALITES<br />
			EVENEMENTS<br />
			AGENDA
		</h2>
		
		{% component 'BlogPosts' %}
				
		<div class="row text-center">
			<a class="btn" href="/blog">Toutes les actualités</a>
		</div>
	</div>
</section>