title = "actualites"
url = "/actualites"
layout = "default"
is_hidden = 0


[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[builderList]
modelClass = "Lfi\Formations\Models\Finance"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList description]
modelClass = "Lfi\Formations\Models\Interview"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[blogPost blogArticle]
slug = "technicien-backliner"
categoryPage = "{{ accueil }}"

[blogPosts blogListArticle]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "accueil"
postPage = "accueil"

==
<!-- LISTE ARTICLES --->


{% set posts = blogListArticle.posts %}

<ul class="post-list">
    {% for post in posts %}
    <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

        <div class="content">{{ post.content_html|raw }}</div>

        {% if post.featured_images.count %}
        <div class="featured-images text-center">
            {% for image in post.featured_images %}
            <p>
                <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 100%" />
            </p>
            {% endfor %}
        </div>
        {% endif %}

        <p class="info">
            Posted
            {% if post.categories.count %} in {% endif %}
            {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            on {{ post.published_at|date('M d, Y') }}
        </p>

        <p class="excerpt">{{ post.summary }}</p>
    </li>
    {% else %}
    <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="{{ posts.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}