title = "single formation"
url = "/formation/:slug"
layout = "default"
class = 'formation-single'
is_hidden = 0

[builderDetails]
modelClass = "Lfi\Formations\Models\Formation"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[builderList financement]
modelClass = "Lfi\Formations\Models\Finance"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% put title %}
    {{ record.name }}
{% endput %}
{% put pagetitle %}
    {{ record.name }}
{% endput %}

{% if record %}

<section id="layout-single-formation" class="clearfix">
		
	<div class="container next-session">
		<h3>Prochaine session</h3>
		<span>FORMATION DU :</span> <span>{{ record.start }}</span> <span>> {{ record.end }}</span> <br />
		<span>CANDIDATURE DU :</span> <span>{{ record.candidate_start }}</span> <span>> {{ record.candidate_end }}</span>
	</div>

	<div class="container clearfix">
		<div class="formations list-formations clearfix">
			<div class="col-sm-12 description">
	        	<div class="row">
	            	<div class='col-sm-6'>
	                    {% for categorie in record.categories %}
	                        <h2>{{categorie.formation_category}}</h2>
	                    {% endfor %}
	                    <h3>{{ record.subtitle }}</h3>
	                    <h3>{{ record.level }}</h3>
	                </div>
	            	<div class='col-sm-6'>
	        			<div class="row">
			            	<div class='col-xs-3 text-center icono'>
			            		<div class="agenda"></div>
			            		{{ record.start|date("d M","Europe/Paris") }}<br />
			            		{{ record.time }}
			                </div>
			            	<div class='col-xs-3 text-center icono'>
			            		<div class="heures"></div>
			            		{{ record.hours }}<br />
			            		HEURES
			                </div>
			            	<div class='col-xs-3 text-center icono'>
			            		<div class="heures"></div>
			            		{{ record.price }}<br />
			            		€ NET
			                </div>
			            	<div class='col-xs-3 text-center icono'>
			            		<div class="heures"></div>
			            		{{ record.place }}<br />
			            		PERS
			                </div>
	                	</div>
	                </div>
	            </div>
	            <p>
	            	{{ record.presentation }}
	        	</p>
			        	
				<div class="clearfix conditions">
				    <div class="col-sm-9 description">
					    <div class="row">
				        	<div class='col-sm-4'>
								<h4>CONDITION D'ACCES</h4>
								<div class="desc">{{ record.condition }}</div>
								<h4>VAE</h4>
								<div class="desc">{{ record.vae }}</div>
				            </div>
				        	<div class='col-sm-4'>
								<h4>PRE-REQUIS</h4>
								<div class="desc">{{ record.prerequis }}</div>
								<h4>EVALUATION</h4>
								<div class="desc">{{ record.evalution }}</div>
				        	</div>
				        	<div class='col-sm-4'>
								<h4>MODALITES</h4>
								<div class="desc">{{ record.modalite }}</div>
								<h4>FINANCEMENT</h4>
								<div class="desc">{{ record.financement }}</div>
				        	</div>
					   </div>
					    <div class="row">
				        	<div class='col-sm-12'>
							<h4>PARCOURS INDIVIDUALISE</h4>
							<div class="desc">{{ record.parcours }}</div>
				        	</div>
				        </div>
				    </div>
				    <div class="col-sm-3">
				    	<img src="{{ record.imgright.thumb(175,535, {'mode':'crop'}) }}" />
				    </div>
		        </div>
	       	</div>
			<div class="row">
				<div class="col-sm-12 programme">
					<h4>PROGRAMME</h4>
				    <img src="{{ record.imgcenter.thumb(960,255, {'mode':'crop'}) }}" />
		        </div>
	        </div>
			<div class="col-sm-12 programme description">
				<div>{{ record.program }}</div>
	        </div>
			<div class="row temoignage clearfix">
				{% for interview in record.interviews %}
				<div class="col-sm-6">
					    <img src="{{ interview.picture.thumb(534,700, {'mode':'crop'}) }}">
		        </div>
		        <div class="col-sm-6 temoignage-text">
				    <h4>{{interview.line}}</h4>
				    <h4>{{interview.presentation}}</h4>
				    <h4>{{interview.link}}</h4>
				    -----
				    <h4>{{interview.title}}</h4>
				    <h4>{{interview.subtitle}}</h4>
				    <h4>{{interview.name}}</h4>
				    <h4>{{interview.function}}</h4>
				    <h4>{{interview.society}}</h4>
		        </div>
				{% endfor %}
	        </div>
	    </div>
		
		<div class="hide">
			<h4>PROGRAMME GENERALE</h4>
			
			{% for programme in record.programsgeneral %}
			
			    <di>{{ programme.program_name}}</di>
			    <div>{{ programme.program_title}}</div>
			    <div>{{ programme.program_short}}</div>
			    <div>{{ programme.program_text}}</div>
			
			{% endfor%}
		</div>

		{% set records = financement.records %}
		{% set displayColumn = financement.displayColumn %}
		{% set noRecordsMessage = financement.noRecordsMessage %}
		{% set detailsPage = financement.detailsPage %}
		{% set detailsKeyColumn = financement.detailsKeyColumn %}
		{% set detailsUrlParameter = financement.detailsUrlParameter %}
		
		<br />
		<br />
		<h2>
			Solution
			<br />
			de financement
		</h2>
		<br />
		<br />
		
		<div id="financement" class="row">
		    {% for record in records %}
		        <div class="col-sm-3">
		        	<div class="list-financement">
			            {# Use spaceless tag to remove spaces inside the A tag. #}
			            {% spaceless %}
			                {% if detailsPage %}
			                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
			                {% endif %}
			                	<div style="padding-left:20px;">
				                	<h5>{{ attribute(record, displayColumn) }}</h5>
				                </div>
				                <p>{{record.finance_txt|md}}</p>
			                {% if detailsPage %}
			                    </a>
			                {% endif %}
			            {% endspaceless %}
		            </div>
		        </div>
		    {% else %}
		        <div class="no-data">{{ noRecordsMessage }}</div>
		    {% endfor %}
		</div>
	</div>
</section>

{% else %}
    {{ notFoundMessage }}
{% endif %}