title = "formations"
url = "/formations"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Lfi\Formations\Models\Formation"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "formation-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderList financement]
modelClass = "Lfi\Formations\Models\Finance"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<!-- SECTION FORMATION -->

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<section id="layout-content" class="container clearfix">
	<div class="row section-title">
		<div class="col-sm-12 col-md-2">
			<h2>
				ME
				<br />
				FORMER
			</h2>
		</div>
		<div class="nav-table-formation col-sm-12 col-md-10">
			<div class="nav-row-formation">
				<div class="nav-formation">
					<span class="button-heading">Decouvrir</span><br />
					<span class="button-text">un metier</span>
				</div>
				<div class="nav-formation">
					<span class="button-heading">Developper</span><br />
					<span class="button-text">Mes competences</span>
				</div>
				<div class="nav-formation">
					<span class="button-heading">Obtenir</span><br />
					<span class="button-text">une habilitation</span>
				</div>
				<div class="nav-formation">
					<span class="button-heading">Obtenir</span><br />
					<span class="button-text">une certification</span>
				</div>
				<div class="nav-formation">
					<span class="button-heading">Valider</span><br />
					<span class="button-text">les acquis de mon experience</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="list-formations clearfix">
	    {% for record in records %}
	        <div class="col-xs-12">
	            {# Use spaceless tag to remove spaces inside the A tag. #}
	            {% spaceless %}
	                {% if detailsPage %}
	                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
	                {% endif %}
	                <h3>{{ record.name }}</h3>
	                        {% for categorie in record.categories %}
	                            <h4>{{categorie.formation_category}}</h4>
	                        {% endfor %}
	                        <h4>{{ record.subtitle }}</h4>
	                        <h4>{{ record.level }}</h4>
	                {% if detailsPage %}
	                    </a>
	                {% endif %}
	            {% endspaceless %}
	            <img src="{{ record.meformer.thumb(320,350, {'mode':'crop'}) }}">
	
	            <div>{{ record.presentation }}</div>
	
	            <h4>{{ record.time }}</h4>
	            <h4>{{ record.hours }}</h4>
	            <h4>{{ record.place }}</h4>
	
	            <div>{{ record.start|date("d M","Europe/Paris") }}</div>
	            <a href="{{ record.fiche_formation.path }}"><button type="submit">TELECHARGER LA FICHE</button></a>
	        </div>
	    {% endfor %}
	</div>
	
	<div class="row text-center">
		<a class="btn" href="#page-top">Plus de détails</a>
	</div>

</section>

<!-- SECTION FINANCEMENT ** -->
{% set records = financement.records %}
{% set displayColumn = financement.displayColumn %}
{% set noRecordsMessage = financement.noRecordsMessage %}
{% set detailsPage = financement.detailsPage %}
{% set detailsKeyColumn = financement.detailsKeyColumn %}
{% set detailsUrlParameter = financement.detailsUrlParameter %}

<ul class="record-list">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}
                        <div>{{record.finance_txt|md}}</div>
                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

